# ── PostgreSQL ────────────────────────────────────────────────────────────────
POSTGRES_USER=ebury_admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=ebury_db

# ── Airflow ───────────────────────────────────────────────────────────────────
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=change_me
AIRFLOW__CORE__FERNET_KEY=
